/* .go-back {
  position: relative;
  background-color: black;
  display: inline-block;
  width: 20%;
  height: 50%;
  margin-bottom: -4.5px;
} */
.back-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 30px;
  margin-left: -50px;
  margin-top: -15px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  line-height: 30px;
  color: white;
  border: none;
  text-decoration: none;
  text-align: center;
}
